@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navbarbtn {
    @apply text-white p-5 px-7 border-x border-darkwhite hover:bg-darkblue transition-colors duration-300 ease-linear;
  }

  .navbarbtn-active {
    @apply text-darkblue bg-lightwhite transition-colors duration-300 p-5 px-7 border-x border-darkwhite;
  }

  .primarybtn {
    @apply bg-darkblue text-white px-5 py-3 rounded-full hover:bg-white hover:text-darkblue border border-transparent hover:border-darkwhite cursor-pointer transition-colors duration-300 ease-linear disabled:bg-gray-400 disabled:text-black;
  }

  .secondarybtn {
    @apply bg-white text-darkblue px-5 py-3 rounded-full hover:bg-darkblue hover:text-white border border-darkwhite hover:border-transparent cursor-pointer transition-colors duration-300 ease-linear disabled:bg-gray-400 disabled:text-black;
  }

  .graybtn {
    @apply bg-darkwhite text-lightwhite px-5 py-3 rounded-full hover:bg-white hover:text-darkwhite border border-darkwhite hover:border-transparent cursor-pointer transition-colors duration-300 ease-linear disabled:bg-gray-400 disabled:text-black;
  }

  .contactinput {
    @apply px-3 py-2 bg-transparent border border-darkwhite text-white font-manrop outline-none focus:border-lightwhite transition-colors duration-200 ease-linear
  }

  #blogcontent h1 {
    @apply text-5xl font-semibold font-outfit pt-5 pb-3 capitalize text-white
  }
  #blogcontent h2 {
    @apply text-4xl font-semibold font-outfit pt-5 pb-3 capitalize text-white
  }
  #blogcontent h3 {
    @apply text-3xl font-semibold font-outfit pt-5 pb-3 capitalize text-white
  }

  #blogcontent p {
    @apply text-[15px] text-lightwhite font-normal font-manrop leading-relaxed
  }

  #blogcontent a {
    color: #044ebd;
    text-decoration: none;
  }

  #blogcontent a:hover {
    text-decoration: underline;
  }

  #blogcontent ul,
  #blogcontent ol {
    padding-left: 1.5em;
    margin: 1em 0;
  }

  #blogcontent li {
    margin: 0.5em 0;
  }

}

.showlines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes fill {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animatecontainer {
  animation: fill 2s ease-in-out infinite;
}
.animateText {
  animation: text 2s ease-in-out infinite;
}